html, body
{
	height: 100%;
	margin: 0;
}

body
{
	background: linear-gradient(to top left, powderblue, pink) no-repeat;
}

/*---------- main content -----------*/

.png-header {
	text-align: center;
}

.png-header img {
	width: 40%;
}

h2 {
	font-family: 'Pattaya', sans-serif;
	font-size: 250%;
	display: flex;
	letter-spacing: 3px;
	color: #BD21DDFF;
	align-items: center;
	justify-content: center;
}

.container p {
	font-family: 'Caveat', cursive;
	font-size: 180%;
	-webkit-text-stroke: 1px  #FA5882;
	-webkit-text-fill-color: #210B61;
	display: flex;
	letter-spacing: 3px;
	align-items: center;
	justify-content: center;
	margin-bottom: 0;
}

#cvg {
	margin-top: 0;
	padding-top: 0;
	text-align: center;
}

#cvg img {
	width: 20%;
}

.container h2 {
	margin-top: 15px;
	margin-bottom: 15px;
}

/*----------- FOOTER -------------*/

footer {
	background: linear-gradient(to top right, pink,powderblue) no-repeat;
}

.bet-bet {
	font-size: 200%;
	padding-left: 40%;
	padding-top: 35px;
	margin: 0;
}

footer .aud {
	float: left;
	padding-top: 30px;
}

footer .bet {
	float: right;
}

footer {
	padding-left: 35%;
	height: 200px;
}


/*------ iPhone 6/7/8 ----------*/

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
	html, body
	{
		height: 100%;
		margin: 0;
	}

	body
	{
		background: linear-gradient(to top left, powderblue, pink) no-repeat;
	}

	/*---------- main content -----------*/

	.png-header {
		text-align: center;
	}

	.png-header img {
		width: 80%;
	}

	h2 {
		font-family: 'Pattaya', sans-serif;
		font-size: 150%;
		display: flex;
		letter-spacing: 3px;
		color: #BD21DDFF;
		align-items: center;
		justify-content: center;
	}

	.container p {
		font-family: 'Caveat', cursive;
		font-size: 110%;
		-webkit-text-stroke: 1px  #FA5882;
		-webkit-text-fill-color: #210B61;
		display: flex;
		letter-spacing: 3px;
		align-items: center;
		justify-content: center;
		margin-bottom: 0;
	}

	#cvg {
		margin-top: 0;
		padding-top: 0;
		text-align: center;
	}

	#cvg img {
		width: 55%;
	}

	.container h2 {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	/*----------- FOOTER -------------*/

	footer {
		background: linear-gradient(to top right, pink,powderblue) no-repeat;
	}


	footer .aud {
		float: left;
		padding-top: 15%;
		padding-right: 3%;
		padding-left: 1%;
	}

	footer .bet {
		float: right;
	}

	.bet-bet {
		font-size: 140%;
		padding-top: 18%;
		margin: 0;
	}

	footer {
		height: 260px;
		padding: 0 0 0 0;
	}
}
